@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #ffeaee;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    color: white;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
}

.nav-container {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #5001b3;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 500;
}

nav ul li a:hover {
    color: #5001b3;
}

h1 {
    text-align: center;
    color: #5001b3;
    margin-top: 80px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.container div {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #5001b3;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5001b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #36008e;
}

.product-item, .shipping-details, .order-details {
    margin-bottom: 20px;
}

.product-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

label {
    font-weight: bold;
}

.products, .shipping-details, .order-details {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}